
#header {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 60px;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
}

#header-content-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 1200px;
}

#header #page-title {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#header h1 {
    line-height: 60px;
    margin: 0 0 0 20px;
    padding: 0;
    color: rgb(45, 47, 58);
    font-size: 28px;
}

#header #header-controls {
    display: flex;
    flex-basis: 620px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-button {
    flex: 1;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0 4px 0 4px;
    background-color: rgb(250, 250, 250);
    border-left: 1px solid rgb(231, 231, 231);
    font-size: 12.8px;
    font-weight: 500;
}

.header-button:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.header-button.disabled {
    color: rgba(16, 16, 16, 0.3);
}

.header-button.disabled:hover {
    cursor: not-allowed;
    background-color: initial;
}

.header-button.active {
    background-color: rgb(240 240 240);
}

#connect-wallet-button {
    display: none;
}

/* ######### DARK MODE ######### */ 

body.dark-mode #header, body.dark-mode .header-button { 
    background-color: #1c1f21;
}

body.dark-mode #header {
    border-bottom: 1px solid rgba(207, 207, 207, 0.1);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.07);
}

body.dark-mode #page-title h1 {    
    color: #eee;
}

body.dark-mode .header-button {  
    color: #dadada;
    border-left: 1px solid rgb(80, 80, 80);
}

body.dark-mode .header-button[disabled] {  
    color: #3f3f3f;
    background-color: #242424;
}

body.dark-mode .header-button:hover {
    background-color: #353535;
}

body.dark-mode .header-button.disabled:hover {
    background-color: #242424;
}

body.dark-mode .header-button.active {
    background-color: #303030;
}

@media (max-width: 1100px) {
    #header h1 { 
        font-size: 20px;
    }
}


/* ##### DROPDOWN ##### */

.checkbox-menu {
    max-height: calc(100vh - 200px);
    /* max-height: 320px; */
    overflow-y: scroll;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}


/* ######################## */

/* @media (min-width: 576px) {        
    #content-container {
        max-width: 560px;
    }
} */

@media (min-width: 768px) {    
    #header-content-container {
        flex-basis: 720px;
    }

    #content-container {
        max-width: 720px;
    }   
}

@media (min-width: 992px) {     
    #header-content-container {
        flex-basis: 940px;
    }

    #content-container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {     
    #header-content-container {
        flex-basis: 1100px;
    }

    #content-container {
        max-width: 1100px;
    }
}

@media (min-width: 1300px) {    
    #header-content-container {
        flex-basis: 1200px;
    }

    #content-container {
        max-width: 1200px;
    }
}